<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../views/css/main.css">
    <title>Student Registration</title>
</head>

   
<body>

    <div class="body"> </div>
    <div class="main">
        
            <div class="navbg">
            <br>
            <img src="../views/images/logo_ntnu.png" width="300px" height="auto">
            <br>
            <h1>Dine forelesninger på nett</h1>

                {% include 'includes/navigation.html' %}   
            </div>
        
            {% if status=="OK" %}
      <h1>You have succesfully registered. You can now log in after being approved.</h1>
      <p>{{ data.fname }} {{ data.lname }} is succesfully registered.</p>
      <p><a href="../index.php">Back to index</a><p>
         {% else %}
         <h1>Error</h1>
         <p>Could NOT register {{ data.fname }} {{ data.lname }}</p>
         <p><a href="../Controllers/register_student.php">Please try again.</a>, <a href="../index.php">Index page</a></p>
         {% endif %}
        
    </div>

</body>
</html>