


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../views/css/main.css">
    <title>Login</title>
</head>

   
<body>

    <div class="body"> </div>
    <div class="main">
        
            <div class="navbg">
            <br>
            <img src="../views/images/logo_ntnu.png" width="300px" height="auto">
            <br>
            <h1>Dine forelesninger på nett</h1>

                <div class="nav">
                
                    <!-- navbar with link to home -->
                    
                <a href="../index.php" >Hjem</a>
            
                </div> 
                
    </div>

   

        <!-- Display welcome message and link to log out -->
 

        <p>Logged in as: <b>{{fname}} {{lname}} </b></p>  <a href="../index.php">Log out as admin</a>
                            

                   <!-- Admin Feautures -->
                   
                       <h1>Admin Page for Videosite - NTNU</small></h1>
                       
                           <li><a href="NewAdmin_creat.php"> Create admin User</a></li>
                       
                               <h3>Information of all the users</h3>
                          
                                <!-- Approval of teachers -->
                               <!-- Check if teachers need approval -->
                            
                               {% if teachers.teacher.godkjenning != "OK" %}
                               
                                  
                                   <h2>Approval of teachers</h2>
                                   
                                   <table>
                                       <tr>
                                           <th>ID</th>
                                           <th>First name</th>
                                           <th>Last name</th>
                                           <th>Email</th>
                                           <th>Favourite Subject</th>
                                           <th>Approve teacher</th>
                                       </tr>
                                       
                                        <!-- list unapproved teachers -->
                                       
                                       {% for teacher in teachers %} {% if teacher.reg_godkjent == "NEI" %}
                                       <tr>
                                           <td>{{teacher.id}}</td>
                                           <td>{{teacher.Fname}}</td>
                                           <td>{{teacher.Lname}}</td>
                                           <td>{{teacher.Email}}</td>
                                           <td>{{teacher.Subject}}</td>
                                           
                                           <!-- approve button -->
                                           
                                           <td> <a href="User_approve.php?id={{teacher.id}}&user=teacher">
   												<input type="button" name"submit" value="Approve"></a></td>
                                       </tr>
                                       {% endif %} {% endfor %}

                                   </table>
                               

                               {% endif %}


                               <!-- Approval of students -->

                                   <h2>Approval of students</h2>

                                   <table>
                                       <tr>
                                           <th>ID</th>
                                           <th>First name</th>
                                           <th>Last name</th>
                                           <th>Email</th>
                                           <th>Favourite subject</th>
                                           <th>Delete subject</th>
                                       </tr>

                                        <!-- list unapproved students -->
                                       
                                       {% for student in students if student.reg_godkjent == "NEI" %}
                                       <tr>
                                           <td>{{student.id}}</td>
                                           <td>{{student.Fname}}</td>
                                           <td>{{student.Lname}}</td>
                                           <td>{{student.Email}}</td>
                                           <td>{{student.Favorit}}</td>
                                           
                                            <!-- approve button -->
                                           
                                           <td><a href="User_approve.php?id={{student.id}}&user=student"><input type="button" name"submit" value="Aprove"></a></td>
                                       </tr>
                                       {% endfor %}
                                   </table>
                               

                               <!-- Counting teachers -->
                               
                                   <h2>Number of teachers</h2>
                                   <p>There is currently {{count}} teachers in the database.</p>
                                   
                                
                               <!-- Deleting teachers -->
                               <table>
                                       <tr>
                                           <th>Id</th>
                                           <th>First name</th>
                                           <th>Last name</th>
                                           <th>Email</th>
                                           <th>Favourite subject</th>
                                           <th>Delete teacher</th>
                                       </tr>
                                       
                                       <h2>Deleting of teachers</h2>
                                   
                                   <!-- Listing teachers -->

                                       {% if teachers != null %} {% for teacher in teachers %}
                                       <tr>
                                           <td>{{teacher.id}}</td>
                                           <td>{{teacher.Fname}}</td>
                                           <td>{{teacher.Lname}}</td>
                                           <td>{{teacher.Email}}</td>
                                           <td>{{teacher.Subject}}</td>

                                           <!-- delete button -->
                                           
                                           <td> <a href="User_delete.php?id={{teacher.id}}&user=teacher" onclick="return confirm('Are you sure you want to delete {{teacher.Fname}} {{teacher.Lname}}');">
   									       <input type="button" name"submit" value="Delete"></a></td>
                                       </tr>
                                       {% endfor %} {% endif %}
                               </table>
                               



                               <!-- Count number of students in database -->
                            
                                   <h2>Number of students</h2>
                                   <p>There is currently {{count2}} registered students.</p>

                                   <table>
                                       <tr>
                                           <th>Id</th>
                                           <th>First name</th>
                                           <th>Last name</th>
                                           <th>Email</th>
                                           <th>Favourite subject</th>
                                           <th>Delete student</th>
                                       </tr>
                               
                                       <!-- list students -->

                                       {% if students != null %} {% for student in students %}
                                       <tr>
                                           <td>{{student.id}}</td>
                                           <td>{{student.Fname}}</td>
                                           <td>{{student.Lname}}</td>
                                           <td>{{student.Email}}</td>
                                           <td>{{student.Favorit}}</td>
                                           
                                         <!-- delete student button -->
                                           
                                           <td><a href="User_delete.php?id={{student.id}}&user=student" onclick="return confirm('Are you sure you want to delete {{student.Fname}} {{student.Lname}}');"><input type="button" name"submit" value="Delete"></a></td>
                                       </tr>
                                       {% endfor %} {% endif %}

                                   </table>
                               

 </div>        
        

</body>
</html>
