<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../views/css/main.css">
    <title>Adding new admin</title>
</head>

   
<body>

    <div class="body"> </div>
    <div class="main">
        
            <div class="navbg">
            <br>
            <img src="../views/images/logo_ntnu.png" width="300px" height="auto">
            <br>
            <h1>Dine forelesninger på nett</h1>

                {% include 'includes/navigation.html' %}   
                
    </div>

  <form class="regForm" action="NewAdmin_creat.php" method="post" autocomplete="off">
       <ul>
           <li>
               <h2>Add new admin</h2>
               <span class="required_notification">* required field</span>
           </li>
           <li><label for="fornavn">* First name: </label>
               <input type="text" id="fornavn" name="fname" required><br/>
               </li>
           <li>
               <label for="etternavn">* Last name: </label>
               <input type="text" id="etternavn" name="etternavn" required><br/>
           </li>
           <li>
               <label for="email">* E-mail: </label>
               <input pattern="[a-z0-9._%+-]+@[admin]+\.[a-z0-9.-]+\.[a-z]{2,63}$" name="email" type="email" id="" required>
               <span class="form_hint">Proper format "name@admin.something.com"</span></br>
           </li>
           <li>
               <label for="passord">* Password: </label>
               <input type="passord" id="passord" name="passord" required><br/>
           </li>
           <li>
               <label for="password2">* Repeat Password: </label>
               <input type="password" id="password2" name="password2" required><br/>
           </li>
           <li>
               <button class="register" type="submit" id="">Register teacher
           </li>
       </ul>
</form>       
        
        
</div>

</body>
</html>
