<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../views/css/main.css">
    <title>Login</title>
</head>

   
<body>

    <div class="body"> </div>
    <div class="main">
        
            <div class="navbg">
            <br>
            <img src="../views/images/logo_ntnu.png" width="300px" height="auto">
            <br>
            <h1>Dine forelesninger på nett</h1>

                {% include 'includes/navigation.html' %}   
                
    </div>
            <form class="regForm" action="login.php" method="post" autocomplete="off">
        <ul>
            <li>
                <h2>Login page</h2>
                <span class="required_notification">* Donate required field</span>
            </li>
            <li><label for="email">* Email: </label>
                <input type="email" id="firstname" name="email" required><br/>
                </li>
            <li>
                <label for="password">* Password: </label>
                <input type="password" id="lastName" name="password" required><br/>
            </li>
            <li>
                <button class="register" type="submit" id="">Login
            </li>
        </ul>

    </form>
</div>

</body>
</html>
