<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../views/css/main.css">
    <title>Welcome Student</title>
</head>

   
<body>

    <div class="body"> </div>
    <div class="main">
        
            <div class="navbg">
            <br>
            <img src="../views/images/logo_ntnu.png" width="300px" height="auto">
            <br>
            <h1>Dine forelesninger på nett</h1>

                {% include 'includes/navigation.html' %} 
                
                    <div class=userMenu>
                        <ul id=userMenu style="list-style-type:none !important;">
	                        <li> <a href="AllVid_display.php">Home</a></li>
	                        <li><a href="Playlist_student.php"> Your personal playlist</a></li>
	                        <li><a class="link" href="AllVid_display.php">All videos</a></li>
	                        <li class="active"><a href="../index.php">logout</a></li>
	                    </ul>
                </div>
                <br>
                  
                
    </div> 
                 
        
                <br>
                <h3>Videos for students at NTNU i GJØVIK</h3>
                <!-- Welcome Message -->
	            <p>Welcome {{fname}} {{lname}} </p></a>
	           <a href="AllVid_display.php">Click here to show all videos</a>
                <br>
                <br>
                <br><div class="search">
	                   <input class="form-control" id="navbar-search-input" placeholder="Search" type="text">
	                 </div>
	            

        
</div>
            


 
</body>
</html>
