<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../views/css/main.css">
    <title>Student Registration</title>
</head>

   
<body>

    <div class="body"> </div>
    <div class="main">
        
            <div class="navbg">
            <br>
            <img src="../views/images/logo_ntnu.png" width="300px" height="auto">
            <br>
            <h1>Dine forelesninger på nett</h1>

                {% include 'includes/navigation.html' %}   
                
    </div> 
        <form class="regForm" action="../controllers/register_teacher.php" method="post" autocomplete="off">
    <ul>
        <li>
            <h2>Teacher's User Registration</h2>
            <span class="required_notification">* Donate required field</span>
        </li>

        <li><label for="fname">* First name: </label>
            <input type="text" id="firstname" name="fname" required><br/>
            </li>
        <li>
            <label for="lname">* Last name: </label>
            <input type="text" id="lastName" name="lname" required><br/>
        </li>
        <li>
            <label for="subject">* Subject: </label>
            <input  list="browsers"  type="text" id="subject" name="subject" required>
            <datalist id="browsers">
                    <option value="IMT1031-Grunnleggende programmering">
                            <option value="REA1101-Matematikk for informatikkfag">
                            <option value="IMT1003-Innføring i IT-drift, InfoSec">
                            <option value="IMT1082-Objekt-orientert programmering">
                            <option value="IMT2243-Systemutvikling">
                            <option value="IMT2006-Datanettverk">
                            <option value="IMT2021-Algoritmiske metoder">
                            <option value="IMT2571-Datamodellering">
                            <option value="IMT2007-Nettverkssikkerhet">
                            <option value="IMT2282-Operativsystemer">
                            <option value="IMT3003-Drift av tjenestearkitekturer">
                            <option value="IMT2008-ITSM, risiko­håndtering">
                            <option value="IMT3004-Offence, Defence, Forensics">
                            <option value="IMT3501-Programvaresikkerhet">
                            <option value="IMT3005-Programmerbar infrastruktur">
                            <option value="BITSEC3-Bacheloroppgave-IT-drift">
                            <option value="IMT3281-Applikasjonsutvikling">
                            <option value="SMF1042-Økonomistyring">
                            <option value="IMT2681-Cloud Technologies">
                            <option value="IMT3691-Ruting og svitsjing">
                            <option value="IMT2291-WWW-teknologi">
                            <option value="SMF2051-Ledelse med arbeidslivsjus">
                            <option value="REA1121-Matematikk for programmering">
                            <option value="BITSEC3-Bacheloroppgave-IT-drift, InfoSec">
                        </datalist><br/>
        </li>
        <li>
            <label for="email">* E-mail: </label>
            <input pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,63}$" name="email" type="email" id="" required>
            <span class="form_hint">Proper format "name@something.com"</span></br>
        </li>
        <li>
            <label for="password">* Password: </label>
            <input type="password" id="password" name="password" required><br/>
        </li>
        <li>
            <label for="password2">* Repeat Password: </label>
            <input type="password" id="password2" name="password2" required><br/>
        </li>
        <li>
            <button class="register" type="submit" id="">Register teacher
        </li>
    </ul>
</form>
</div>
            


 
</body>
</html>
