<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../views/css/main.css">
    <title>Teacher page</title>
</head>

   
<body>

    <div class="body"> </div>
    <div class="main">
        
            <div class="navbg">
            <br>
            <img src="../views/images/logo_ntnu.png" width="300px" height="auto">
            <br>
            <h1>Dine forelesninger på nett</h1>

                <div class="nav">
                
                    <!-- navbar with link to home -->
                    
                <a href="../index.php" >Hjem</a>
             <br>
            <p> Teacher {{fname}} {{lname}} </p>
                    
                </div>           
    </div>



	   <a href="../Controllers/AllVid_display.php">Display all videos</a>
	              
	               
	     <li><a href="../Controllers/video_upload.php">Upload video</a> </li>
         <li><a class="link" href="../Controllers/AllVid_display.php">All videos</a></li>
	     <li> <a href="../Controllers/Playlist_teacher.php"><i class="fa fa-dashboard"></i> Your playlist</a> </li>
         <input class="form-control" id="navbar-search-input" placeholder="Search" type="text">
	                      
    
	        <h3>Video page NTNU </h3>
	        <ul>
	            <li>
	                    <a class="link" href="../Controllers/AllVid_display.php">Video page</a>
	            </li>
	            <li>
	                <a href="../Controllers/Video_delate.php"> Delete videos</a>
	            </li>
	            <li class="active">
	                <a href="../index.php">logout</a>
	            </li>
	        </ul>
	    
        
        
        
                               

 </div>        
        

</body>
</html>
