<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../views/css/main.css">
    <title>Uploading video</title>
</head>

   
<body>

    <div class="body"> </div>
    <div class="main">
        
            <div class="navbg">
            <br>
            <img src="../views/images/logo_ntnu.png" width="300px" height="auto">
            <br>
            <h1>Dine forelesninger på nett</h1>

                {% include 'includes/navigation.html' %}   
                
    </div>

  <form class="regForm" action="../Controllers/video_upload.php" method="POST" enctype="multipart/form-data">
            <ul>
                <li> <h2> Video uploading </h2> </li>
                <li> <label for="post">* Topic: </label> <br> </li>
                <li> <input type="text" name="topic" required> </li>
                <li><br> <input type="file" id="file" name="file" required><br/> </li>
                <li> <button class="register" type="submit" name="submit" id=""> Upload </li>
               <li> <a href="AllVid_display.php"> Go back </a> </li>
            </ul>
         </form>
        
        
        
        
        
</div>

</body>
</html>