 {% if person == "Teacher" %} {% include('teacherNavigation.html')%} {% else %} {% include('studentNavigation.html') %}
                   {% endif %}
                  
                 

            
        
   



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../views/css/main.css">
    <title>Login</title>
</head>

   
<body>

    <div class="body"> </div>
    <div class="main">
        
            <div class="navbg">
            <br>
            <img src="../views/images/logo_ntnu.png" width="300px" height="auto">
            <br>
            <h1>Dine forelesninger på nett</h1>
                
                   {{fname}} {{lname}} | <b><a href="../index.php"> Logout </a></b> 
                
    </div>
        
        
        
                     
                          
                              <h3> Watch all videos from NTNU </h3>
                            
                              <video-display>
                                   {% for video in videos %}
                                       {% for row in video %}
                                       {% if row.Cdate != null %}
                                       <video controls>  <source src="{{row.link}}" type="Video/mp4"> </video><br>
                                          <b>Uploaded at: {{row.Cdate}}</b></br>
                                          <b>Topic: {{row.Topic}}</b> </br>
                                          <b>Subject: {{row.EmneCode}}</b> </br>
                                           <b>Teacher: {{row.Lecturer}}</b><br>
                                           {% for videoInfo in videos %}
                                               {% for each in videoInfo %}
                                                  {% if row.id == each.videoId %}
                                                       {% if each.rate != null %}
                                                           <b>  Rate: {{each.rate}}</b> <br>
                                                       {% endif %}
                                                       {% if each.comments != null  %}
                                                           <b>Comment: {{each.comments}}</b> <br>
                                                       {% endif %}
                                                  {% endif %}
                                               {% endfor %}
                                           {% endfor %}

                                           <form action="Rate_add.php">
                                               <label for="rate"> Please rate (0-5): </label> <br>
                                               <input type="number" name="rate" required>
                                               <input type="hidden" name="id" value="{{row.id}}" required>
                                               <input type="submit" value="Rate" name="submit">
                                           </form>
                       
                                           <a href="Comment_add.php?id={{row.id}}"><button> Add comment </button></a> <br> <br>
                                       {% endif %}
                                   {% endfor %}
                                   {% endfor %}
                              </video-display>
                           
                       
            
               
                 
</div>

</body>
</html>