h1{ Font-size:230%;
    color:rgba(255,51,0,1);
    
}

div.nav a{
text-decoration:none;
color:coral;
font-size:105%;
margin-right:15px;
letter-spacing:1.5px;
top:20px;
margin-bottom:20px;
position:relative;
    
}

div.body{
	position: absolute;
    width: auto;
	height: auto;
	top: -10px;
	left: -10px;
	right: -10px;
	bottom: -10px;
	background-image: url(../images/gBygg.jpg);
	background-size: cover;

}

div.navbg {
    background: rgba(255, 255, 255, 1);
    opacity:0,1;
    text-align:center;
	top: 0px;
	left: 0px;
	right: 0px;
    bottom:auto;
}




div.nav {
    background: rgba(245, 245, 245, 1);
    text-align:center;
    width:auto;
    height:60px;
    opacity:0,1;
	position: relative;
	margin-top: auto;
}

div.main {
    background: rgba(255, 175, 80, 0.2);
    opacity:0,1;
	position: absolute;
	top: 50px;
	left: 50px;
	right: 50px;
    bottom: auto;
}

div.regForm {
	margin-top:  50px;
	left: 0px;
	right: 0px;
    
}




